Problem Statement:

You are provided with a DataFrame named df containing transaction data:

CustomerID  	TransactionDate	Amount	 Region

101   2023-01-10	200	      East

102	           2023-01-20	300      North

103	           2023-02-15	150	    South

104            2023-02-20	450	    West

105	           2023-03-10	350	    East

101	           2023-04-05	300	    East

102	           2023-04-12	500	    North

Tasks:

Identify the top-spending customer each month:

Group by Month and find the CustomerID with the highest total Amount spent in each month.

Calculate the month-over-month spending difference for each region:

For each Region, compute the difference in total spending between consecutive months.

Trend Analysis:

Based on the month-over-month differences:

Assign "Increase" if spending went up, "Decrease" if it went down, and "Same" if no change occurred.

Resulting DataFrame:

Add a new column SpendingTrend in the grouped result indicating the spending trend for each region.

In [1]:
import pandas as pd

In [5]:
d1={"CustomerID":[101,102,103,104,105,101,102],
"TransactionDate":["2023-01-10","2023-01-20","2023-02-15","2023-02-20","2023-03-10","2023-04-05","2023-04-12"],
"Amount":[200,300,150,450,350,300,500],
"Region":["East","North","South","West","East","East","North"]}
df=pd.DataFrame(d1)
df["TransactionDate"]=pd.to_datetime(df["TransactionDate"])

In [54]:
df["Month"]=df["TransactionDate"].dt.to_period('M')
s=df.groupby(["CustomerID","Month"])["Amount"].sum().reset_index()
sf=s.loc[s.groupby('Month')['Amount'].idxmax()]
sf

   CustomerID    Month  Amount
2         102  2023-01     300
5         104  2023-02     450
6         105  2023-03     350
3         102  2023-04     500

In [80]:
sf=df.groupby(["Region","Month"])["Amount"].sum().reset_index()
sf["Trend"]=sf.groupby("Region")["Amount"].diff()
sf

  Region    Month  Amount  Trend
0   East  2023-01     200    NaN
1   East  2023-03     350  150.0
2   East  2023-04     300  -50.0
3  North  2023-01     300    NaN
4  North  2023-04     500  200.0
5  South  2023-02     150    NaN
6   West  2023-02     450    NaN

In [91]:
def trendanalysis(Trend):
    if Trend >0:
        return "Increase"
    elif Trend <0:
        return "Decrease"
    else:
        return "Same"
sf["SpendingTrend"]=sf["Trend"].apply(trendanalysis)
df["SpendingTrend"]=sf["SpendingTrend"]
df

,CustomerID,TransactionDate,Amount,Region,Month,MonthSpending,SpendingTrend
0,101,2023-01-10,200,East,2023-01,NaN,Same
1,102,2023-01-20,300,North,2023-01,NaN,Increase
2,103,2023-02-15,150,South,2023-02,NaN,Decrease
3,104,2023-02-20,450,West,2023-02,NaN,Same
4,105,2023-03-10,350,East,2023-03,150.0,Increase
5,101,2023-04-05,300,East,2023-04,-50.0,Same
6,102,2023-04-12,500,North,2023-04,200.0,Same